<div class="container">
    <div class="container_footer">
        <div class="row">
            <div class="col-auto">
                <div class="text_weight">Kontakt</div>
                <hr>
                <div class="row m-0 text_color d-flex justify-content-start">
                    <div class="col-12">
                        <div class="row block">
                            <div class="col-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
                            <div class="col-auto">+49 8564 232</div>
                        </div>
                        <div class="row block">
                            <div class="col-1"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <div class="col-auto">hoermann@praxis-hoermann.de</div>
                        </div>
                        <div class="row block">
                            <div class="col-1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="col-auto"> Untere Hauptstraße 7, <br>84381 Johanniskirchen</div>
                        </div>
                        <div class="row block">
                            <div class="col-1"></div>
                            <div class="col-auto">Anfahrt →</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="text_weight">Öffnungszeiten / Sprechzeiten</div>
                <hr>
                <div class="row m-0 text_color">
                    <div class="col-4">
                        <div class="row block">Montag</div>
                        <div class="row block">Dienstag</div>
                        <div class="row block">Mittwoch</div>
                        <div class="row block">Donnerstag</div>
                        <div class="row block">Freitag</div>
                    </div>
                    <div class="col-8">
                        <div class="row block">08:00 - 12:00, 16:00-18:00</div>
                        <div class="row block">08:00 - 13:00</div>
                        <div class="row block">08:00 - 12:00</div>
                        <div class="row block">08:00 - 12:00, 16:00-19:00</div>
                        <div class="row block">08:00 - 12:00, 16:00-18:00</div>

                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="text_weight">Menu</div>    
                <hr>
                <div class="row m-0 text_color">
                    <div class="col-12">
                        <div class="row block">Startseite</div>
                        <div class="row block">Leistungen</div>
                        <div class="row block">Über Uns</div>
                        <div class="row block">Kontakt</div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="text_weight">Leistungen</div>
                <hr>
                <div class="row m-0 text_color">
                    <div class="col-12">
                        <div class="row block">Diagnostik</div>
                        <div class="row block">Vorsorge</div>
                        <div class="row block">Therapie</div>
                        <div class="row block">Alternative Medizin</div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col d-flex flex-row text_color">
                Impressum | Datenschützerklärung
            </div>
            <div class="col ms-auto d-flex flex-row-reverse text_color">
                &copy; {{year}}  Todos los dereschos reservados
            </div>
        </div>
    </div>
</div>