.circle {
    border: 5px solid gray;
    width:150px;
    height:150px;
    border-radius:50%;
}

.main_button_green_ {
    text-decoration: none;
    background: #00AC7A;
    padding: 8px 15px;
    color: gray;
    border-radius: 10px;
    border: 2px solid #00AC7A;
    color: white;
    margin-bottom: 30px;
}

.main_button_green_:hover
{
    background: #198754;
    color: white;
    border: 2px solid #198754;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
    outline: 2px solid #bd0c0c;
}

.ng-dirty.ng-pending:is(input,textarea){
    outline: 2px solid #838a2a;
}