<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" routerLink="/home">
          <img src="/assets/img/Logo.jpg" class="w-25" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">|||</span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a [routerLink]="['/home']" class="nav-link">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a  
                class="nav-link dropdown-toggle" 
                href="#" 
                id="navbarDropdown" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                >
                Tratamientos
              </a>
              <div 
                class="dropdown-menu megamenu" 
                role="menu"
                >
                <div class="row g-3">
                  <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Contractura_Muscular.jpg" alt="Contractura Muscular" class="img-thumbnail">
                            <span class="title">Contractura Muscular</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Lesiones_Deportivas.jpg" alt="Lesiones_Deportivas" class="img-thumbnail">
                            <span class="title">Lesiones Deportivas</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Esguince_Tobillo.jpg" alt="Esguince de Tobillo" class="img-thumbnail">
                            <span class="title">Esguince de Tobillo</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Dolor_Cervical.jpg" alt="Dolor Cervical" class="img-thumbnail">
                            <span class="title">Dolor Cervical</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Artrosis.jpg" alt="Artrosis" class="img-thumbnail">
                            <span class="title">Artrosis</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Tendinitis.jpg" alt="Tendinitis" class="img-thumbnail">
                            <span class="title">Tendinitis</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Dolor_Cronico.jpg" alt="Dolor Cronico" class="img-thumbnail">
                            <span class="title">Dolor Cronico</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Dolor_Lumbar.jpg" alt="Dolor Lumbar" class="img-thumbnail">
                            <span class="title">Dolor Lumbar</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Codo_Tenista.jpg" alt="Codo de Tenista"class="img-thumbnail">
                            <span class="title">Codo de Tenista</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Latigazo_Cervical.jpg" alt="Latigazo Cervical"class="img-thumbnail">
                            <span class="title">Latigazo Cervical</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Hernia de Disco.jpg" alt="Hernia de Disco"class="img-thumbnail">
                            <span class="title">Hernia de Disco</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Rotura Fibrilar.jpg" alt="Rotura Fibrilar"class="img-thumbnail">
                            <span class="title">Rotura Fibrilar</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>    
                  <div class="col-lg-3 col-6">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Trocanteritis de Cadera.jpg" alt="Trocanteritis de Cadera" class="img-thumbnail">
                            <span class="title">Trocanteritis de Cadera</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Bursitis.jpg" alt="Bursitis" class="img-thumbnail">
                            <span class="title">Bursitis</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Pinzamiento Lumbar.jpg" alt="Pinzamiento Lumbar" class="img-thumbnail">
                            <span class="title">Pinzamiento Lumbar</span>
                          </a>
                        </li>
                        <li class="mb-2">
                          <a href="#">
                            <img src="assets/img/Menu_1_Ciatica.jpg" alt="Ciatica" class="img-thumbnail">
                            <span class="title">Ciatica</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cita']" href="#">Cita Online</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/quienes']" class="nav-link" href="#">Quienes Somos?</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/contacto']" class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.twiter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.xing.com/" target="_blank"><i class="fa-brands fa-xing"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://wa.me/+4915771493181?text=Me%20interesa%20hacer%20una%20pregunta" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>
            <li class="nav-item">
              <div class="ventana">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Launch demo modal
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>



          </ul>
          <button [routerLink]="['/login']" class="button_text" type="button">Login</button>
        </div>
        
      </nav>
    </div>
  </div>
</div>