
        <div class="background">
            <div class="container mt-5">
                <div class="box shadow p-3 mb-5 bg-body rounded block">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6  col_left">
                                <p class="text_titulo">CONTACTO</p>
                                <p>Praxis Dr. Hörmann</p>

                                <div class="row mb-5">
                                    <div class="col-1"><i class="fa-solid fa-phone"></i></div>
                                    <div class="col-11">+49 8564 232</div>
                                    <div class="col-1"><i class="fa-solid fa-phone"></i></div>
                                    <div class="col-11"><a href="mailto:hoermann@praxis-hoermann.de">hoermann@praxis-hoermann.de</a></div>
                                    <div class="col-1"><i class="fa-solid fa-phone"></i></div>
                                    <div class="col-11">Untere Hauptstraße 7, 84381 Johanniskirchen</div>
                                    <div class="col-1"></div>
                                    <div class="col-11">
                                        <a href="#" target="_blank" rel="noopener noreferrer">

                                        </a> Llegada →
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <p class="text_titulo">HORARIO DE APERTURA / CONSULTA</p>
                                    <div class="row">
                                        <div class="col-4">Montag</div>
                                        <div class="col-8">08:00 - 12:00, 16:00 - 18:00</div>
                                        <div class="col-4">Dienstag</div>
                                        <div class="col-8">10:00 - 13:00</div>
                                        <div class="col-4">Mittwoch</div>
                                        <div class="col-8">08:00 - 12:00</div>
                                        <div class="col-4">Donnerstag</div>
                                        <div class="col-8">08:00 - 12:00, 16:00 - 19:00</div>
                                        <div class="col-4">Freitag</div>
                                        <div class="col-8">08:00 - 12:00, 16:00 - 18:00</div>
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <p class="text_titulo">
                                        <a href="http://clickdoc.elvi.de/#/Login" target="_blank" rel="noopener noreferrer"> 
                                            A tu hora de videoconsulta <i class="fa-solid fa-caret-right"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>


                            <div class="col-lg-6 col_right rounded">
                                <p class="text_titulo">FORMULARIO DE CONTACTO</p>
                                <form action="">
                                    <input type="text" class="form-control mb-2" name="name" id="name" placeholder="Nombre">
                                    <input type="email" class="form-control mb-2" name="name" id="name" placeholder="Direccion de E-Mail">
                                    <input type="tel" class="form-control mb-2" name="name" id="name" placeholder="Telefono">
                                    <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje"></textarea>
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <p class="datenschutzerklaerung">Ich stimme zu, dass meine Angaben aus dem Kontaktformular zur Beantwortung meiner Anfrage erhoben und verarbeitet werden. Die Daten werden nach abgeschlossener Bearbeitung Ihrer Anfrage gelöscht. Detaillierte Informationen zum Umgang mit Nutzerdaten finden Sie in unserer Datenschutzerklärung.</p>
                                        </label>
                                    </div>
                                    <button type="submit" class="main_button_green">ENVIAR</button>
                                </form>
                            </div>

                            <div class="row mt-5 col">
                                <app-mapa></app-mapa>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   