
<div class="row">
    <div class="col-12">
        <div class="background text-center d-flex align-items-center mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 ml-3 d-flex align-items-center">
                        <h1>Reserva tu Cita Online</h1>
                    </div>
                </div> 
            </div>
        </div>
    </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-5 list_li_left">
                            <h5 class="text-uppercase">Pruebas de laboratorio</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim.</p>
                            <ul>
                                <li>Electrocardiograma</li>
                                <li>ECG de esfuerzo</li>
                                <li>Electrocardiograma ECG</li>
                                <li>Funcion pulmonar</li>
                                <li>Presion arterial a largo plazo</li>
                                <li>Sonografia</li>
                                <li>Biorresonancia</li>
                            </ul>
                        </div>
                        <div class="col-7 list_li_right">
                            <h5>Lorem ipsum dolor sit amet, Lorem, ipsum dolor.</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora laboriosam molestiae ad accusamus consequatur iure dignissimos fuga distinctio numquam facere? Rem nihil, sequi sit animi ducimus est at fugiat quo nulla impedit asperiores, soluta ea dolorum facere ipsum omnis dignissimos. Quaerat eligendi sunt perspiciatis aliquam blanditiis hic excepturi repudiandae maiores.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit at, molestias a ratione animi optio in ipsa expedita laboriosam facere modi quod magni. Eveniet.</p>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, ipsam?</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="container"><hr></div>
                
            </div>
        </div>
        <div class="row mt-5 mb-5 d-flex list_ul_ventajas mt-5">
            <div class="col-12 text-center">
                <div class="container">
                    <h4>TUS VENTAJAS CON NOSOTROS</h4>
                    <ul class="d-flex justify-content-center">
                        <li>Videoconsulta</li>
                        <li>Tiempos de espera cortos</li>
                        <li>Plazas de aparcamiento</li>
                        <li>Visitas domiciliarias</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-bannerbottom></app-bannerbottom>
            </div>
        </div>
</div>