<div class="row">
    <div class="col-12">
        <div class="background-img">
            <div class="background">
                <div class="container">
                    <div class="row w-50 text_main d-flex align-content-center text-center">
                        <div class="col-12 text-center mb-2 zoom">
                            <h1>Conoce Nuestro Grupo de <span class="color">Fisioterapeutas</span></h1>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro labore ipsum saepe nemo debitis eius quod, libero quasi cumque perferendis magnam dolorem sed, fuga nesciunt et! Excepturi dicta veritatis sed!</p>
                        </div>
                        
                        <div class="div col-12">
                            <a type="button" class="main_button_green_">Conoce Mas</a>
                        </div>
                    </div>
                </div>

                <div class="row shadow bg-white rounded w-75 mx-auto p-2">
                    <div class="col-12"> 
                        <div class="row">
                            <div class="col-lg-4 col-xs-6 col-left">
                                <div class="row">
                                    <div class="row text_titulo_grande border-bottom border-2 mb-3">CONTACTO</div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-1"><i class="fa-solid fa-phone"></i></div>
                                        <div class="col-auto"> +49 8564 232</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-1"><i class="fa-solid fa-envelope"></i></div>
                                        <div class="col-auto"> hoermann@praxis-hoermann.de</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-1"><i class="fa-solid fa-location-dot"></i> </div>
                                        <div class="col-auto">Untere Hauptstraße 7,<br> 84381 Johanniskirchen</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 col-lg-1"></div>
                                        <div class="col-auto">Anfahrt →</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 col-xs-6 col-recht rounded">
                                <div class="row">
                                    <div class="row text_titulo_grande border-bottom border-2 mb-3 text-center">HORARIO DE APERTURA / HORARIO DE CONSULTA</div>
                                    
                                    <div class="col">
                                        <p class="row fw-bold">Montag</p>
                                        <div class="row">
                                            08:00 - 12:00<br>
                                            16:00 - 18:00
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="row fw-bold">Dienstag</p>
                                        <div class="row">
                                            10:00 - 13:00
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="row fw-bold">Mittwoch</p>
                                        <div class="row">
                                            10:00 - 12:00
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="row fw-bold">Donnerstag</p>
                                        <div class="row">
                                            08:00 - 12:00<br>
                                            16:00 - 19:00
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="row fw-bold">Freitag</p>
                                        <div class="row">
                                            08:00 - 12:00<br>
                                            16:00 - 18:00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row margin_block martop">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-5">
                            <h4 class="text_titulo_grande" data-aos="fade-up" data-aos-duration="3000">
                                <span class="color text_titulo_grande text-decoration-underline mb-5">Que</span> hacemos
                            </h4>
                            <div class="row">
                                <div class="col">
                                    
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="main_button_green nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-service1" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Servicio #1</button>

                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="main_button_green nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-service2" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Servicio #2</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="main_button_green nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-service3" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Servicio #3</button>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-service1" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

                                            <div class="row">
                                                <div class="col servicio_img">
                                                    
                                                </div>
                                                <div class="col w-100">
                                                    <p class="color text_titulo">Servicio1 ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus quo esse quae praesentium ullam.</p>
                                                    <a href="#" class="main_button">Mas...</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="tab-pane fade" id="pills-service2" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

                                            <div class="row">
                                                <div class="col servicio_img">
                                                    
                                                </div>
                                                <div class="col w-100">
                                                    <p class="color text_titulo">Servicio2 ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus quo esse quae praesentium ullam.</p>
                                                    <a href="#" class="main_button">Mas...</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="tab-pane fade" id="pills-service3" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">

                                            <div class="row">
                                                <div class="col servicio_img">
                                                    
                                                </div>
                                                <div class="col w-100">
                                                    <p class="color text_titulo">Servicio3 ipsum dolor sit amet consectetur, adipisicing elit.</p>
                                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi delectus quo esse quae praesentium ullam.</p>
                                                    <a href="#" class="main_button">Mas...</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-5">
                            <h4 class="text_titulo_grande" data-aos="fade-up" data-aos-duration="3000">
                                <span class="color text_titulo_grande text-decoration-underline mb-5">Reserva</span> tu cita
                            </h4>
                            <div class="row">
                                <div class="col home_formulario p-3">
                                    <form action="" class="d-flex flex-column w-50 form-group">
                                        <select class="form-select mb-1" aria-label="Default select example">
                                            <option value="1">Fisioterapia</option>
                                            <option value="2">Gimnasio</option>
                                        </select>
                                        <input class="form-control mb-1" type="text" placeholder="Nombre Completo" aria-label="default input example">
                                        <input class="form-control mb-1" type="tel" placeholder="Telefono" aria-label="default input example">
                                        <input class="form-control mb-1" type="email" placeholder="Email" aria-label="default input example">
                                        <input class="form-control mb-1" type="date" placeholder="mm/dd/yyyy" aria-label="default input example">
                                        <button type="submit" class="btn btn-block btn-light">Reservar</button>
                                    </form>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div #especialistas1 class="row margin_block">
            <div class="col-12">                        
                <div class="container">
                    <h4 class="text_titulo_grande text-center mb-4"><span class="color text_titulo_grande text-decoration-underline mb-5">Nuestros</span> especialistas</h4>
                    
                    <div class="row d-flex justify-content-center">
                        <div class="shadow rounded col-md-6 col-lg-4 col-xl-4 p-0 border margen_especialistas mb-4">
                            <img src="/assets/img/Personal_1_Home.jpg" class="card-img-top zoom" alt="Especialistas de Fisioterapia">
                            <div class="card-body">
                                <a href="mailto:example@example.com"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                        </div>
                        
                        <div class="shadow rounded col-md-6 col-lg-4 col-xl-4 p-0 border margen_especialistas mb-4">
                            <img src="assets/img/Personal_2_Home.jpg" class="card-img-top zoom" alt="Especialistas de Fisioterapia">
                            <div class="card-body">
                                <a href="mailto:example@example.com"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                        </div>
                        <div class="shadow rounded col-md-6 col-lg-4 col-xl-4 p-0 border margen_especialistas mb-4">
                            <img src="/assets/img/Personal_3_Home.jpg" class="card-img-top zoom" alt="Especialistas de Fisioterapia">
                            <div class="card-body">
                                <a href="mailto:example@example.com"><i class="fa-solid fa-envelope"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row margin_block text-center mx-auto">
            <div class="col-12">                
                <p class="text_titulo_grande">
                    <span class="color text_titulo_grande text-decoration-underline mb-5">Nuestro</span> Consultorio
                </p>

                <div class="row">
                    <div class="d-flex justify-content-evenly flex-wrap">
                        <div class="img_grid mb-4" (mouseover)="mouseover1()" (mouseout)="mouseout1()" [class.consult_grid]="isVisited==true" (click) = "checkVisited()" data-aos="flip-left">
                            <img #myDivImg src="assets/img/DSC1751-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv1 class="fa-solid fa-circle-plus d-none" ></i>
                        </div>
                        <div class="img_grid mb-4" (mouseover)="mouseover2()" (mouseout)="mouseout2()" data-aos="flip-up">
                            <img src="assets/img/DSC1662-2-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv2 class="fa-solid fa-circle-plus d-none"></i>
                        </div>
                        <div class="img_grid mb-4" (mouseover)="mouseover3()" (mouseout)="mouseout3()" data-aos="flip-right">
                            <img src="assets/img/DSC1672-1-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv3 class="fa-solid fa-circle-plus d-none"></i>
                        </div>
                        <div class="img_grid mb-4" (mouseover)="mouseover4()" (mouseout)="mouseout4()" data-aos="flip-left">
                            <img src="assets/img/DSC1684-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv4 class="fa-solid fa-circle-plus d-none"></i>
                        </div>
                        <div class="img_grid mb-4" (mouseover)="mouseover5()" (mouseout)="mouseout5()" data-aos="flip-up">
                            <img src="assets/img/DSC1718-2-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv5 class="fa-solid fa-circle-plus d-none"></i>
                        </div>
                        <div class="img_grid mb-4" (mouseover)="mouseover6()" (mouseout)="mouseout6()" data-aos="flip-right">
                            <img src="assets/img/DSC1632-400x284.jpg" class="w-100 h-100 rounded" alt="">
                            <i #myDiv6 class="fa-solid fa-circle-plus d-none"></i>
                        </div>
                    </div>
                </div>

                <button class="main_button_green_">Descubre más sobre nosotros</button>
            </div>

        </div>
        
        <div class="row margin_block">
            <div class="container-fluid">
                <app-bannerbottom></app-bannerbottom>
            </div>
        </div>

    </div>
</div>