<div class="container">

    <div class="row justify-content-center">

        <div class="col-lg-6 bloque1 d-flex justify-content-center align-items-center text-center">
            <div class="row shadow p-4  mb-5 mt-5 w-75">
                <div class="col-12 mb-5 mt-5">
                    <img src="/assets/img/Logo.jpg" class="w-25" alt="">
                </div>

                <div class="col-12 mb-5">
                    <button class="btn service-btn mb-2">
                        <i class="fab fa-google"></i>
                        Registrese con Google
                    </button>
                    <button class="btn service-btn mb-3">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Registrese con Facebook
                    </button>
                </div>

                <div class="col-12">
                    <app-login-reactive></app-login-reactive>
                </div>
            </div>
        </div>

        <div class="col-6 d-none d-lg-block background bloque1 mb-5 mb-5 mt-5"></div>

    </div>

</div>