<div class="row">
    <div class="col-12">
        <div class="background text-center d-flex align-items-center mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 ml-3 d-flex align-items-center">
                        <h3>Über uns</h3>
                        <br>
                        <h1 class="">Lorem, ipsum dolor.</h1>
                    </div>
                </div> 
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="container">

                    <div class="row d-flex align-items-center">
                        <div class="col-6 img_ rounded-3 pr-5">
                        </div>
                        <div class="col-6 text_left pl-5">
                            <h3 class="text_titulo_grande">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa non dolore, optio dignissimos vitae ut nesciunt laborum dolores tempora id mollitia et ea. Quaerat tempora non eligendi assumenda porro totam rem culpa numquam impedit quidem.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quod quibusdam debitis omnis adipisci dolore sit deserunt, nesciunt alias iste, dolores sapiente ut, eius non?</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-6 text_right p-1">
                            <h3 class="text_titulo_grande">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio culpa non dolore, optio dignissimos vitae ut nesciunt laborum dolores tempora id mollitia et ea. Quaerat tempora non eligendi assumenda porro totam rem culpa numquam impedit quidem.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quod quibusdam debitis omnis adipisci dolore sit deserunt, nesciunt alias iste, dolores sapiente ut, eius non?</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="col-6 img__ rounded-3 p-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row mt-5 mb-5 text-center">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-5 text_titulo_grande">
                            Nuestro Equipo
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <img src="/assets/img/Personal_1.jpg" class="rounded-circle w-75 mb-4" alt="">
                                <p class="text_titulo">DR. MED. MICHAEL HÖRMANN</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate sapiente adipisci eum tempore tempora iusto?</p>
                                <p class="text_texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>


                            <div class="col-4">
                                <img src="/assets/img/Personal_2.jpg" class="rounded-circle w-75 mb-4" alt="">
                                <p class="text_titulo">BETTINA HÖRMANN</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur atque vitae quam? Earum, unde impedit?</p>
                            </div>


                            <div class="col-4">
                                <img src="/assets/img/Personal_3.jpg" class="rounded-circle w-75 mb-4" alt="">
                                <p class="text_titulo">MARTINA HÖRMANN</p>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="container">
                    <p class="text_titulo_grande text-center">Nuestro Consultorio</p>

                    <div class="row text-center">
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                        <div class="col-4 rounded-3 mt-3">
                            <img src="/assets/img/DSC1632-400x284.jpg" class="w-100" alt="">
                        </div>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-12">
                <app-bannerbottom></app-bannerbottom>
            </div>
        </div>

    </div>
</div>