<div class="row">
    <div class="col-12 text-center">
        <h1 class="p-5">PATOLOGIAS</h1>
        <div class="container">
            <div class="row">
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Contractura_Muscular.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Contractura Muscular</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Lesiones_Deportivas.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Lesiones Deportivas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Esguince_Tobillo.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Esguince Tobillo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Dolor_Cervical.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Dolor Cervical</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Dolor_Lumbar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Dolor Lumbar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Artrosis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Artrosis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Tendinitis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Tendinitis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Dolor_Cronico.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Dolor Cronico</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Latigazo_Cervical.jpg" class="card-img-top " alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Latigazo Cervical</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Rotura Fibrilar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Rotura Fibrilar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Codo_Tenista.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Codo de Tenista</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Hernia de Disco.jpg" class="card-img-top w-2 h-2" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Hierna de Disco</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Bursitis.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Bursitis</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Ciatica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Ciatica</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Trocanteritis de Cadera.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Trocanteritis de Caderas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
                <div class="text-center col-md-6 col-lg-4 col-xl-3 pb-3">
                    <div class="mx-auto card" style="width: 17rem;">
                        <img src="/assets/img/Menu_1_Pinzamiento Lumbar.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Pinzamiento Lumbar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Haz una cita</a>
                        </div>
                    </div>
                </div>
            </div><!--Fin del Row-->

        </div><!--Fin del Container-->
</div>
